/* :root
{
    --lightmode-color-drpaginator-border: rgb(234, 234, 234);
    --lightmode-color-drpaginator-background: rgb(234, 234, 234);
    --lightmode-color-drpaginator-button-background-hover: rgb(234, 234, 234);
    --lightmode-color-drpaginator-button-border-selected:rgb(107, 107, 107);
    --lightmode-color-drpaginator-button-background-selected: rgb(212, 212, 212);

    --darkmode-color-drpaginator-border: rgb(71, 71, 71);
    --darkmode-color-drpaginator-background: rgb(234, 234, 234);
    --darkmode-color-drpaginator-button-background-hover: rgb(71, 71, 71);
    --darkmode-color-drpaginator-button-border-selected:rgb(107, 107, 107);
    --darkmode-color-drpaginator-button-background-selected:rgb(107, 107, 107);
} */
