:root
{
    /*
    --lightmode-color-drpopover-border: rgb(255, 0, 251);
    --lightmode-color-drpopover-background:  rgb(252, 240, 13);
    --darkmode-color-drpopover-border:  rgb(116, 88, 255);
    --darkmode-color-drpopover-background: rgb(112, 81, 112); 
    */
}